<form action="/profile" method="post" enctype="multipart/form-data" accept="image/jpeg, image/png">
    <div>
        <label for="file Name">File Name</label>
        <input type="text" name="myImgName" id="file Name">
    </div>
    <div>
        <label for="file">Upload File</label>
        <input type="file" name="file" id="file"> 
    </div>
    <div> 
        <button type="submit">Submit</button>
    </div>

</form>